<div class="rate_user">
  <div class="rate_star">
    <% Settings.max_star.times do |i| %>
      <div class="star <%= "star_on" if i < rating.star %>">
        <i class="fa fa-star"></i>
      </div>
    <% end %>
  </div>
</div>
