<div class="intro">
  <div class="intro_background"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="intro_container">
          <div class="row">

            <!-- Intro Item -->
            <div class="col-lg-4 intro_col">
              <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                <div class="intro_icon"><%= image_tag "beach.svg" %></div>
                <div class="intro_content">
                  <div class="intro_title">Top Destinations</div>
                  <div class="intro_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                </div>
              </div>
            </div>

            <!-- Intro Item -->
            <div class="col-lg-4 intro_col">
              <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                <div class="intro_icon"><%= image_tag "wallet.svg" %></div>
                <div class="intro_content">
                  <div class="intro_title">The Best Prices</div>
                  <div class="intro_subtitle"><p>Sollicitudin mauris lobortis in.</p></div>
                </div>
              </div>
            </div>

            <!-- Intro Item -->
            <div class="col-lg-4 intro_col">
              <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                <div class="intro_icon"><%= image_tag "suitcase" %></div>
                <div class="intro_content">
                  <div class="intro_title">Amazing Services</div>
                  <div class="intro_subtitle"><p>Nulla pretium tincidunt felis, nec.</p></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>		
    </div>
  </div>
</div>