<div class="home">
  <div class="destinations" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_subtitle"></div>
          <div class="section_title">
            <h2><%= t ".bank_account" %></h2>
          </div>
        </div>
      </div>
      <%= render partial: "form" %>
      <div class="row destinations_row">
        <div class="col">
          <div class="destinations_container item_grid">
            <!-- Destination -->
            <!-- Destination -->
            <%= render partial: "bank_account", collection: @bank_accounts, as: :bank_account %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>