@import 'bootstrap';
@import 'font-awesome';
@import 'about_responsive';
@import 'about';
@import 'contact';
@import 'contact_responsive';
@import 'destinations_responsive';
@import 'destinations';
@import 'elements';
@import 'elements_responsive';
@import 'main_styles';
@import 'news';
@import 'news_responsive';
@import 'responsive';
@import 'owl.carousel';
@import 'owl.theme.default';
@import 'animate';
@import 'sb-admin-2';
@import 'variables.scss';
.background_image {
  background-image:url(home_slider.jpg);
}
.parallax_background {
  background-image:url(footer_1.jpg);
}
.intro_background {
  background-image:url(intro.png);
}

.container-login {
  margin: 100px 50px;
  height: 100%;
  align-content: center;
}
.card {
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
}

.custom-card {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}
.login {
  height: 383px;
}

.login_btn {
    font-size: 24px;
    font-family: sans-serif;
    color: black;
}

.remember {
  margin-left: 4px;
  input {
    width: 14px;
    height: 14px;
    margin-left: 15px;
    margin-right: 5px;
  }
}

.new_user {
  font-size: 18px;
  font-family: none;
}

.register, .edit_profile {
  height: 100%;
  a {
    margin-top: -54px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
  }
}
#error_explanation {
  text-align: left;
}

#error_explanation li {
  color: red;
  font-size: 15px;
}

#error_explanation h2 {
  font-size: 14px;
}

.img-profile {
  width: 40px;
}
.header_social ul li a i {
  font-size: 20px;
}

#accordionSidebar {
  height: auto;
}
.tour-form-search {
  .col-3 {
    padding: 0;
    padding-right: 5px;
    select {
      width: 100%;
    }
  }
  
  select {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
  }

  input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
  }
  #search_c_0_v_0_value, #search_c_0_a_0_name, #search_c_0_p, #search_s_0_name, #search_s_0_dir {
    height: 50px;
    background: $background-search;
    border: none;
    outline: none;
    padding-left: 17px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: $color-search !important;
    box-shadow: 2px 2px 5px white;

  }
  #search_s_0_name, #search_s_0_dir {
    margin-top: 10px;
    margin-right: 5px;
  }
  .tour-btn-search {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 2px 5px black;
    height: 50px;
    :hover {
      box-shadow: 0 2px 5px black;
    }
  }
}
.home_search_admin {
  width: 100%;
  background: white;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 67px;
  padding-right: 83px;
}
