 @mixin background-tile {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 1.5em 1.25em;
  }
 
 .reviews {
    @include background-tile;
    margin-top: 40px;
 
    h1 {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 2em;
    }
 
   .review {
      border-bottom: 1px solid gainsboro;
      margin-bottom: 15px;
      padding-bottom: 10px;
 
     .review-comment {
        font-size: 1.05em;
        line-height: 1.5;
      }
    }
 
   .new-review {
      padding-top: 8px;
    }
  }
 
  .bank-account {
    width: 377px;
    @include background-tile;
    .bank-account-heading {
      font-size: 22px;
      font-family: auto;
      font-style: bold;
      font-weight: 700;
      color: black;
    }
    .bank-account-body {
      img {
        width: 29%;
        border-radius: 6px;
        margin-left: 60%;
      }
    }
  }
.notification {
  z-index: 100;
  position: absolute;
  width: 100%;
}
.star {
  cursor: pointer;
  display: inline-block;
}

.star_on {
  color: yellow;
}

.average-review-rating {
  img {
    width: 20px;
  }
}

.reviewer_avatar {
    width: 40px;
    margin-right: 10px;
    float: left;
  img {
    height: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.review_user {
  margin-top: -40px;
  margin-left: 47px;
  font-size: 15px;
  font-family: serif;
  font-weight: 900;
  color: black;
}
.review_picture {
  img {
    width: 1000px;
    height: 450px;
    margin-left: 6px;
  }
}

.review_content {
  font-size: 17px;
  font-family: auto;
  font-style: normal;
  color: black;
  margin-left: 32px;
  margin-top: 15px;
}

.review_times {
  margin-left: 53px;
  font-style: italic;
  font-size: 12px;
  font-family: auto;
}


.review_content_form {
  margin-left: 10px;
  textarea#review_content.form-control {
    margin-left: -3px;
  }
}
.booking-picture {
  img {
    width: 462px;
    height: 212px;
  }
}
.like {
  margin-left: 40px;
}